@{
    ViewData["Title"] = "Admin Dashboard";
}

<h1 class="mb-4">Admin Dashboard</h1>

<div class="row">
    <div class="col-md-4">
        <div class="card text-bg-primary mb-3">
            <div class="card-body">
                <h5 class="card-title">Produkte</h5>
                <p class="card-text fs-3">@ViewBag.TotalProducts</p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card text-bg-success mb-3">
            <div class="card-body">
                <h5 class="card-title">Kategori</h5>
                <p class="card-text fs-3">@ViewBag.TotalCategories</p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card text-bg-dark mb-3">
            <div class="card-body">
                <h5 class="card-title">Users</h5>
                <p class="card-text fs-3">@ViewBag.TotalUsers</p>
            </div>
        </div>
    </div>
</div>

<hr />

<div class="mt-3">
    <a asp-controller="Products" asp-action="Index" class="btn btn-outline-primary">
        Menaxho Produkte
    </a>
</div>

<a asp-controller="AdminUsers" asp-action="Index"
   class="btn btn-outline-dark mt-3">
    Menaxho Userat
</a>

@if (User.IsInRole("Admin"))
{
    <li class="nav-item">
        <a class="nav-link" asp-controller="AuditLogs" asp-action="Index">
            Audit Logs
        </a>
    </li>
}

