@model Microsoft.AspNetCore.Identity.IdentityUser
@{
    Layout = "_LayoutAdmin";
}
<h2>Fshi User</h2>

<p>A je i sigurt që dëshiron ta fshish userin <b>@Model.Email</b>?</p>

<form method="post">
    <input type="hidden" name="id" value="@Model.Id" />
    <button class="btn btn-danger">Delete</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
