@model Microsoft.AspNetCore.Identity.IdentityUser

<h2>Reset Password</h2>

<p>User: <b>@Model.Email</b></p>

<form method="post">
    <input type="hidden" name="id" value="@Model.Id" />

    <div class="form-group">
        <label>Password i ri</label>
        <input name="newPassword" type="password" class="form-control" required />
    </div>

    <button class="btn btn-warning mt-3">Reset Password</button>
    <a asp-action="Index" class="btn btn-secondary mt-3">Cancel</a>
</form>